.login_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.login_form {
    background-color: #fff;
    width: 300px;
    border-radius: 8px;
}

.login_form h2 {
    text-align: center;
}

.login_form input[type=submit] {
    display: block;
    margin: 10px auto 0 auto;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color:rgb(0, 0, 0);
}

.login_form .input_field {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.login_form .input_field input {
    padding: 10px;
    border-radius: 4px;
    border: none;
    
}

@media only screen and (min-width: 600px) {
    .login_form {
        box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.3);
        padding: 50px;
    }
}

