.container {
  width: 500px;
  margin: auto;
}

.movies_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.movie_card {
    position: relative;
    background: var(--primary);
    color: var(--secondary);
}

.movie_card .add_button {
    background-color: var(--primary);
    padding: 10px 6px;
    position: absolute;
    color: var(--secondary);
    font-size: 20px;
    z-index: 10;
    cursor: pointer;
}

.movie_card img {
  width: 100px;
  height: 150px;
  /* opacity: 0.5; */

}

.movie_card p {
  width: 100px;
  word-break: break-all;
}

.movies_top_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.movies_top_bar h3 {
  color: var(--secondary)
}

.movies_top_bar label {
  color: var(--secondary)
}

.search_top_bar {
  padding: 20px 0;
  color: var(--secondary);
}

.movie_filters {
  margin: 0 auto 20px auto;
}

.movie_filters_btn {
  padding: 4px 12px;
  margin-right: 10px;
  border-radius: 25px;
  border: 1px solid var(--secondary);
  cursor: pointer;
  background-color: var(--primary);
  color: var(--secondary)
}

.movie_filters_btn_selected {
  padding: 4px 12px;
  margin-right: 10px;
  border-radius: 25px;
  background-color: var(--secondary);
  color: var(--primary);
  cursor: pointer;
}

.filter_clear_btn {
  text-decoration: underline;
  color: var(--secondary);
  cursor: pointer;
}
